.idea
.vscodes

shared_tasks/
data/*.py

models/fst/checkpoints/

models/transducer/results/
models/transducer/build/
models/transducer/neural_transducer.egg-info/

models/transformer/checkpoints/
models/transformer/data-bin/
models/transformer/*.log

models/*/__pycache__/
models/*/*/__pycache__/

Note.md