Test Results

|                                   |  | French | Romanian |
|-----------------------------------|--|--------|----------|
| Transformer (baseline 2020)       |  | 6.89   |          |
| Neural transducer (baseline 2021) |  |        | 10.00    |
w