Test Results

|                                   |  | French | Romanian | Maori |
|-----------------------------------|--|--------|----------|-------|
| Transformer (baseline 2020)       |  | 6.89   |          |       |
| Neural transducer (baseline 2021) |  |        | 10.00    |       |
| Yoyodyne (baseline 2024)          |  |        |          | 41.3  |
